- page_title t('title.contact')
- meta_description 'Des informations vous manquent? Contactez-nous!'

.row#contact
  .columns.small-12
    = render partial: 'shared/flash_messages'

    .row
      .columns.small-12
        %h3= t('contact.page_title')
        %hr
    .row
      .columns.small-12.medium-12.large-8
        %p#contact_form_desc
          = t('contact.desc_1')
          %br
          = t('contact.desc_2')
    .row
      .columns.small-12.medium-12.large-8
        = form_for @message, auto_labels: false, url: contact_path do |message_form|
          .row
            .columns.small-12.medium-8.large-8
              = message_form.label t('contact.name')
              = message_form.text_field :name, placeholder: 'Elon Musk'
          .row
            .columns.small-12.medium-8.large-8
              = message_form.label t('contact.mail')
              = message_form.email_field :email, placeholder: 'elonmusk@company.com'
          .row
            .columns.small-12
              = message_form.label t('contact.content')
              = message_form.text_area :content, rows: 8
          .row
            .columns.small-12
              = recaptcha_tags hl: params[:locale]
          .row
            .columns.small-12
              = message_form.submit t('contact.send_message'), class: 'button success', id: 'contact_submit' 