.row#job_alert
  .columns.small-12
    %h6= t('job_subscription.title')

    #flash_message

    = form_for JobSubscription.new, auto_labels: false, remote: true do |f|
      = f.text_field :email, placeholder: 'Email'
      = f.select :keywords, Skills.all, {}, { class: 'tokenize-sample', multiple: 'multiple' }
      / = f.select :city, options_for_select([t("jobs.all_cities")] + Job.cities)
      = f.select :frequency, options_for_select([[t('job_subscription.daily'), 1], [t('job_subscription.weekly'), 2], [t('job_subscription.monthly'), 3]]), {}, { class: 'subscription_frequency' }
      = f.button type: 'submit', class: 'button expanded success', id: 'job_subscription_link' do
        %i.fa.fa-envelope-o
        = t('job_subscription.submit')
