$('#flash_message').html("<%= escape_javascript(render partial: 'shared/flash_messages') %>");
if ("<%= flash[:success] %>") {
  setTimeout(function() {
    $('#flash_message').html('');
    $('#animatedModal10').foundation('close');
  }, 5000);
}