- page_title t('title.job_subscription')
= render partial: 'shared/flash_messages'

.row#job_alert_edit
  .columns.small-12.medium-10.large-9.small-centered
    %h3#job_sub_edit_title= t('job_subscription.edit_title')
    = form_for @job_subscription, method: :put, auto_labels: false do |f|
      = f.text_field :email, placeholder: 'Email'
      / = f.text_field :keywords, class: 'alert_keywords', placeholder: t('keywords')
      = f.select :keywords, Skills.all, {}, { class: 'tokenize-sample', multiple: 'multiple', 'data-tokens' => @job_subscription.keywords }
      = f.select :city, options_for_select(Job.cities), prompt: t("jobs.all_cities")
      = f.select :frequency, options_for_select([[t('job_subscription.daily'), 1], [t('job_subscription.weekly'), 2], [t('job_subscription.monthly'), 3]])

      #job_sub_edit_links.text-right
        = link_to t('job_subscription.unsubscribe'), job_subscription_path(@job_subscription), method: :delete, class: 'button secondary hollow'
        = f.submit t('validate'), class: 'button success'