!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p Hi,
    %p
      Thank you for posting your job listing on
      = link_to "swissitjob.ch.", root_url
    %p
      You can now see you ad online
      = link_to "by clicking this link.", job_url(@job, locale: 'en')
      It will remain on the site during 45 days.
    %p
      If you have any question, feel free to contact us at
      %a{ href: "mailto:maxime@swissitjob.ch" } contact@swissitjob.ch
    %p
      Best regards,
      %br
      Maxime from Swiss IT Job