!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p Bonjour,
    %p
      Merci d'avoir publié votre offre d'emploi sur
      = link_to "swissitjob.ch.", root_url
    %p
      Vous pouvez dès à présent consulter votre annonce en
      = link_to "cliquant sur ce lien.", job_url(@job, locale: 'fr')
      Celle-ci restera en ligne pendant 45 jours.
    %p
      Si vous avez des questions, n'hésitez pas à nous contacter par mail à l'adresse 
      %a{ href: "mailto:maxime@swissitjob.ch" } contact@swissitjob.ch
    %p
      Meilleures salutations,
      %br
      Maxime de Swiss IT Job