.job_subheader
  %span.company_name= job.company_name
  %span.job_location
    %i.fa.fa-map-marker
    = job.city
  - if job.salary
    %span.job_salary
      %i.fa.fa-credit-card
      = job.salary
  - if job.remote
    %span.job_remote
      %i.fa.fa-wifi
      = t('jobs.remote_authorized')

- if job.technologies.any?
  .job_categories
    - job.technologies.each do |techno|
      %span{ class: techno.present? ? 'job_category' : '' }= techno