.row#job_details
  .columns.small-12
    - if job.description.present?
      %h5.description_title= t("jobs.description")
      = job.safe_description

    - if job.skills.present?
      %h5.section_title= t("jobs.skills")
      = job.safe_skills

    - if job.company_about.present?
      %h5.section_title= t("jobs.company_about")
      = job.safe_about

    - if job.company_url
      %p#company_website
        %b= t("jobs.company_website")
        \:
        = link_to job.company_url, "http://#{job.company_url}", title: job.company_url, target: "_blank"

.row#job_postulation
  .columns.small-7.medium-8
    %h6
      %b= t("jobs.interested")
    - if job.from_so
      = link_to t("jobs.so_contact"), job.so_url, target: "_blank"
    - else
      = job.postulation
  .columns.small-5.medium-4
    - if job.active and !job.from_so
      = social_share_button_tag(job.title)

.row
  .columns.small-12
    - if job.active
      = link_to t("back_home"), jobs_path, title: t('home'), class: "hollow button", id: "back_button"
    - else
      .row
        .columns.small-6
          = link_to t('validate'), activate_job_path(@job), method: :put, class: 'button expanded success'
        .columns.small-6
          = link_to t('edit'), edit_job_path(@job), class: 'button hollow expanded'