.columns.hide-for-small-only.medium-3.large-3
  #help_section
    .title_help.callout.success.hide
      .row
        .columns.small-1
          %i.fa.fa-hand-o-left
        .columns.small-11
          %p= t("jobs.form.title_help")
    .salary_help.callout.success.hide
      .row
        .columns.small-1
          %i.fa.fa-hand-o-left
        .columns.small-11
          %p= t("jobs.form.salary_help")
    .technologies_help.callout.success.hide
      .row
        .columns.small-1
          %i.fa.fa-hand-o-left
        .columns.small-11
          %p= t("jobs.form.technologies_help")
    .description_help.callout.success.hide
      .row
        .columns.small-1
          %i.fa.fa-hand-o-left
        .columns.small-11
          %p= t("jobs.form.description_help")
    .skills_help.callout.success.hide
      .row
        .columns.small-1
          %i.fa.fa-hand-o-left
        .columns.small-11
          %p= t("jobs.form.skills_help")
    .company_about_help.callout.success.hide
      .row
        .columns.small-1
          %i.fa.fa-hand-o-left
        .columns.small-11
          %p= t("jobs.form.about_help")