- page_title t('title.new_ad')
= render partial: 'shared/flash_messages'

.row
  .columns.small-12
    %p= t('jobs.form.info')

    = form_for job, auto_labels: false do |f|
      .row.job_form_section
        .columns.small-12.medium-9.large-9
          %h2.form_title= t('jobs.form.subtitle_1')
          = f.label :company_name, t('jobs.company_name')
          = f.text_field :company_name, placeholder: t('jobs.form.company_name_placeholder')

          = f.label :company_url, t('jobs.company_website')
          = f.text_field :company_url, placeholder: t('jobs.form.company_url_placeholder')

          = f.label :company_about_trix_input_job, t('jobs.company_about')
          = f.trix_editor :company_about, rows: 7
          %br

          = f.label :company_mail, t('jobs.company_mail')
          = f.text_field :company_mail, placeholder: t('jobs.form.company_mail_placeholder')

      .row.job_form_section
        .columns.small-12.medium-9.large-9
          %h2.form_title= t('jobs.form.subtitle_2')
          = f.label :title, t('jobs.title')
          = f.text_field :title, placeholder: t('jobs.form.title_placeholder')

          = f.label :city, t('jobs.city')
          = f.text_field :city, placeholder: t('jobs.form.city_placeholder')

          = f.label :canton, t('jobs.canton')
          = f.select :canton, Canton.all, prompt: t('canton.select')

          = f.check_box :remote, label: t('jobs.form.remote_placeholder')

          = f.label :min_salary, t('jobs.salary')
          .row
            .columns.small-6
              = f.text_field :min_salary, placeholder: t('jobs.form.min_salary_placeholder'), 'aria-describedby' => 'minSalaryHelpText'
              %p.help-text#minSalaryHelpText= t('jobs.form.min_salary_help')
            .columns.small-6
              = f.text_field :max_salary, placeholder: t('jobs.form.max_salary_placeholder'), 'aria-describedby' => 'maxSalaryHelpText'
              %p.help-text#maxSalaryHelpText= t('jobs.form.max_salary_help')

          = f.label :technologies, t('jobs.technologies')
          = f.select :technologies, Skills.all, {}, { class: 'tokenize-sample', multiple: 'multiple' }

          = f.label :description_trix_input_job, t('jobs.description'), id: 'description_label'
          = f.trix_editor :description, rows: 7
          %br
          = f.label :skills_trix_input_job, t('jobs.skills')
          = f.trix_editor :skills, rows: 7
          %br
          = f.label :postulation, t('jobs.postulation')
          = f.text_area :postulation, rows: 2, placeholder: t('jobs.form.postulation_placeholder')

        = render partial: 'job_form_help'
        
      .row
        .columns.small-12.medium-12.large-12
          = f.submit t('jobs.preview_button'), class: 'button expanded'
