%ul.no-bullet.joblist
  - @jobs.each do |job|
    %li{ 'data-link' => job_path(job) }
      .row
        .columns.small-12.medium-9.large-10
          %span.job_title= job.title
        .columns.hide-for-small-only.medium-3.large-2.text-right
          %span.job_date
            = job.days_from_creation
      .row
        .columns.small-12
          = render partial: 'job_subheader', locals: { job: job }

= paginate @jobs

:javascript
  $(document).ready(function(){
    $('li[data-link]').on('click', function() {
      window.location = $(this).data('link');
    });
  });