.row#no_search_results
  .columns.small-12.text-center
    %i.fa.fa-frown-o.fa-5x
    %h4= t('jobs.no_results.title')
    .row
      .columns.small-10.small-offset-1.medium-8.medium-offset-2.large-6.large-offset-3
        %p= t('jobs.no_results.info')
    
    