<% if @jobs.any? %>
  $('#jobs_list').html("<%= escape_javascript(render partial: 'jobs_list', locals: { jobs: @jobs } ) %>");
<% else %>
  $('#jobs_list').html("<%= escape_javascript(render partial: 'no_results' ) %>");
<% end %>
$("#search").val("<%= session[:search] %>");