.row
  .columns.small-12.medium-5.skills
    = select_tag :search, options_for_select(Skills.all), id: 'search', class: 'tokenize-sample', multiple: 'multiple', :'data-url' => jobs_path, :'data-value' => session[:search]
  .columns.small-12.medium-4
    = select_tag 'cities_select', options_for_select([t('jobs.all_cities')] + Job.cities, session[:city]), :'data-url' => jobs_path
  .columns.small-12.medium-3
    %a{ 'data-toggle' => 'animatedModal10', class: 'button success expanded', id: 'alert_button' }= t('job_subscription.submit')
    #animatedModal10.reveal{ 'data-reveal' => '', 'data-animation-out' => 'slide-out-down' }
      = render partial: 'job_subscriptions/new'
      %button.close-button{ 'aria-label' => 'Close reveal', 'data-close' => '', type: 'button' }
        %span{ 'aria-hidden' => 'true' } ×

.row
  .columns.small-12
    %hr
    #jobs_list
      - if @jobs.any?
        = render partial: 'jobs_list', locals: { jobs: @jobs }
      - else
        = render partial: 'no_results'

:javascript
  $(document).ready(function() {
    $('#cities_select').on("change", function() {
      if ($('#cities_select option:selected').text() == "#{t('jobs.all_cities')}") {
        city = 'all';
      } else {
        city = $('#cities_select option:selected').text();
      }
      $.ajax({
        url: $(this).data('url'),
        method: 'GET',
        dataType: 'script',
        data: { city: city },
        cache: true
      });
    });
  });