- if @job.active
  - page_title t('title.show', job_title: @job.title)
- else
  - page_title t('title.preview')

- meta_description "#{strip_tags(@job.description[0..150])}..."

= render partial: 'shared/flash_messages'
= render partial: 'job_header', locals: { job: @job }
= render partial: 'job_details', locals: { job: @job }
      
/ %script.stripe-button{ "data-allow-remember-me" => "false","data-amount" => "10000", "data-currency" => "chf", "data-description" => I18n.t('jobs.payment'), "data-key" => Rails.configuration.stripe[:publishable_key], "data-label" => I18n.t('jobs.payment_button'), "data-locale" => params[:locale], "data-name" => "Swiss IT Jobs", "data-email" => @job.company_mail, :src => "https://checkout.stripe.com/checkout.js" }
   
// :javascript
//   if ("#{!@job.active}") {
//     $('.stripe-button-el').hide();
//   }