- if flash[:error].present?
  .row
    .columns.small-12
      .alert.callout{ "data-closable" => "" }
        %p= flash[:error]
        %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
          %span{"aria-hidden" => "true"} ×

- if flash[:notice].present?
  .row
    .columns.small-12
      .success.callout{ "data-closable" => "" }
        %p= flash[:notice]
        %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
          %span{"aria-hidden" => "true"} ×

- if flash[:success].present?
  .row
    .columns.small-12
      .success.callout{ "data-closable" => "" }
        %p= flash[:success]
        %button.close-button{"aria-label" => "Dismiss alert", "data-close" => "", :type => "button"}
          %span{"aria-hidden" => "true"} ×