#feedback
  .row
    .columns.small-12
      %p
        = t('sidebar.feedback_question')
        = link_to t('sidebar.feedback_link'), contact_path
        = t('sidebar.feedback_help')

#footer
  .row
    .columns.small-12
      .menu
        %span= link_to t('pages.contact'), contact_path, title: t('pages.contact')
        \|
        %span= link_to t('pages.terms'), terms_path, title: t('pages.terms')
        \|
        %span= link_to t('pages.privacy'), privacy_path, title: t('pages.privacy')
      .social
        %span
          = link_to 'https://twitter.com/swissitjob', target: '_blank', title: 'Twitter' do
            %i.fa.fa-twitter
        %span
          = link_to 'https://plus.google.com/+SwissitjobCh', target: '_blank', title: 'Google plus' do
            %i.fa.fa-google-plus