.top-bar
  .row
    .columns.small-12
      .top-bar-title
        %span{ 'data-hide-for' => 'medium', 'data-responsive-toggle' => 'responsive-menu' }
          %button.menu-icon{ 'data-toggle' => '', type: 'button' }
        = link_to 'SWISS IT JOB', locale_root_url, title: t('home'), id: 'site_title'
      #responsive-menu
        .top-bar-left
          %ul.dropdown.menu{ 'data-dropdown-menu' => '' }
            %li= link_to t('jobs.new'), new_job_path, title: t('jobs.new'), class: 'button'
        .top-bar-right
          %ul.menu#lang-menu
            %li= link_to 'FR', locale: 'fr'
            %li= link_to 'EN', locale: 'en'