- page_title t('title.privacy')

.row#privacy
  .columns.small-12.medium-10.large-8.small-centered
    %h3 Protection des données
    %hr
    %p
      Swiss IT Job s'engage à protéger votre vie privée et la sécurité de vos informations. Cette politique de confidentialité s'applique uniquement à Swiss IT Job (ce site web) et explique comment nous récoltons et traitons les informations sur Swiss IT Job. En utilisant notre site, vous acceptez cette politique de confidentialité.

    %br
    %h5 Sécurité

    %p Swiss IT Job utilise le chiffrement SSL pour sécuriser vos transmissions et ainsi réduire les risques de perte ou d'utilisation frauduleuse de vos informations personnelles.

    %br
    %h5 Statistiques de nos visiteurs

    %p Nous récoltons des statistiques concernant les visiteurs de notre site web grâce à Google Analytics. Cela nous permet notamment de savoir comment nos visiteurs arrivent sur le site, quelles pages ils ont visité, ainsi que d'autres informations. Toutes ces données sont anonymes et nous ne savons donc pas qui vous êtes, seulement que quelqu'un a visité le site.
    %p Ces informations nous permettent de comprendre ce qui fonctionne bien ou moins bien sur notre site, et ce dans le but d'améliorer votre expérience sur Swiss IT Job.
    %p
      Pour en savoir plus sur Google Analytics,
      = link_to 'cliquez ici.', 'https://support.google.com/analytics/answer/6004245', title: 'Google Analytics'

    %br
    %h5 Réseaux sociaux

    %p Facebook, Twitter et d'autres réseaux sociaux fournissent des fonctionnalités telles que les boutons de partage sur ces réseaux que nous utilisons sur notre site. Pour ce faire, nous incluons dans notre site le code fourni par ces plateformes, code que nous ne pouvons contrôler.
    %p Nous n'avons cependant aucun accès à vos profils sur les réseaux sociaux. Il est toutefois possible que ces réseaux sachent que vous avez visité Swiss IT Job. Nous considérons notre site comme inoffensif, raison pour laquelle cela ne devrait pas poser de problème à la plupart de nos utilisateurs.

    %br
    %h5 Emails

    %p Il peut arriver que nous vous envoyions des emails, par exemple lorsque vous postez une offre d'emploi sur Swiss IT Job.
    %p Nous ne redistribuerons jamais à des tiers votre adresse email ou toute autre information personnelle vous concernant.

    %br
    %h5 Mise à jour de notre politique de confidentialité

    %p Nous nous réservons le droit de mettre à jour le présent document sans préavis.

    %br
    %h5 Nous contacter

    %p
      Pour toute autre information, n'hésitez pas à
      = link_to 'nous contacter.', contact_path, title: 'Contact'
