- page_title t('title.privacy')

.row#privacy
  .columns.small-12.medium-10.large-8.small-centered
    %h3 Privacy Policy
    %hr
    %p
      Swiss IT Job is committed to protecting the privacy and security of your information. This privacy statement only applies to Swiss IT Job (this website) and explains how we gather and treat information on Swiss IT Job. By using our website, you accept this privacy statement.

    %br
    %h5 Security

    %p Swiss IT Job uses SSL encryption to secure your transmissions and prevent the lost or misuse of your personal informations.

    %br
    %h5 Measuring our visitors

    %p We measure visitors to this website using Google Analytics. This records how you arrived on Swiss IT Job, what pages you visited and some other information. All of this is anonymous so we don’t know who you are, only that someone visited the website.
    %p These informations help us understand what is good and what is wrong about our website. This is one way to improve your experience on Swiss IT Job.
    %p
      You can learn more about
      = link_to 'Google Analytics if you wish.', 'https://support.google.com/analytics/answer/6004245', title: 'Google Analytics'

    %br
    %h5 Social networks

    %p Facebook, Twitter and other social networks provide social buttons and features that we use on our website. To do so, we embed in our website code that they provide and that we can not control.
    %p We don’t have any access to your profiles on social networks. The only thing is that social networks could know that you visited our website. We consider our website like inoffensive, and that’s the reason why it should not be a big concern for most users.

    %br
    %h5 Emails

    %p We may send you notifications by email, such as when you create a job listing on Swiss IT Job.
    %p We will never provide your email address or other personal information to any third parties.

    %br
    %h5 Changes to Privacy Policy

    %p We reserve the right to update this privacy policy at our sole discretion, without prior notice to you.

    %br
    %h5 Contact us

    %p
      For any other concerns, feel free to
      = link_to 'contact us.', contact_path, title: 'Contact'
