- page_title t('title.terms')

.row#terms
  .columns.small-12.medium-10.large-8.small-centered
    %h3 Conditions générales
    %hr

    %p Les présentes conditions générales d'utilisation s’appliquent à tous les produits et services offerts par swissitjob.ch (ci-après Swiss IT Job). En utilisant notre plateforme, vous acceptez ces conditions dans leur intégralité et sans modification :

    %br
    %h5 1 Objet et acceptation des présentes conditions générales d'utilisation
    %br
    %h6 1.1 Objet du contrat
    %p Les conditions générales ci-après règlent le rapport juridique entre Swiss IT Job et les demandeurs d’emploi, recruteurs et agences de recrutement (ci-après "utilisateur") pour tous les services offerts par Swiss IT Job. Ces conditions générales s’appliquent à toute utilisation des services offerts par Swiss IT Job, notamment la publication d’offres d’emploi sur le site et la consultation de ces offres d’emploi.

    %br
    %h6 1.2 Conclusion du contrat
    %p L’utilisation des services offerts par Swiss IT Job ou le paiement d'une facture valent consentement aux présentes conditions générales. L’utilisateur peut être invité à renouveler son consentement aux présentes conditions générales durant son utilisation de la plateforme Swiss IT Job, en activant une case correspondante.
    %p En utilisant le site, l’utilisateur reconnaît avoir lu, compris et accepté les présentes conditions générales d’utilisation.
    %p
      La protection des données est régie par la
      = link_to "Privacy Policy", privacy_path
      en vigueur, telle que publiée sur le site Swiss IT Job.

    %br
    %h5 2 Description des services de Swiss IT Job
    %br
    %h6 2.1 Mise en ligne d'annonces
    %p En saisissant une offre d’emploi, les recruteurs et agences de recrutement consentent à la publication de cette offre d’emploi sur la plateforme Swiss IT Job, ainsi que par d’autres canaux de publication exploités par Swiss IT Job, Les annonces peuvent notamment être partagées sur les réseaux sociaux par tout utilisateur du site. La non-parution ou la parution erronée d’une annonce ne font naître aucune prétention envers Swiss IT Job. L’utilisateur peut cependant exiger la publication correcte de l’annonce dont la publication présente des erreurs ou a été omise.

    %br
    %h6 2.2 Responsabilité de l'utilisateur
    %p L’utilisateur est le responsable exclusif du contenu de ses annonces. Il en garantit l’exactitude ainsi que l’actualité des informations. Seules peuvent être publiées sur le site web Swiss IT Job les offres d’emploi destinées à la recherche normale de candidats travaillant dans le secteur de l'informatique et des télécommunications et qui respectent toutes les exigences légales. Les offres d’emploi ne doivent notamment pas enfreindre les droits de propriété intellectuelle, les droits de la personnalité ni d’autres droits de tiers. L’utilisateur s’engage à ne publier à travers Swiss IT Job aucun contenu contraire au droit, en particulier aucun contenu à caractère raciste, pornographique ou portant atteinte à la personnalité.
    %p Les contenus suivants sont notamment prohibés :
    %ul
      %li les offres d’emploi contraires aux bonnes mœurs ou choquants
      %li les offres d’emploi multiples réunies en une seule publication
      %li les offres d’emploi dont l’intitulé ou le contenu est incorrect
      %li les annonces de formation continue
      %li les offres d’emploi qui renvoient à des offres relatives à d’autres postes, vers des produits de communication ou autres produits
      %li les offres d’emploi indiquant une identité ou des coordonnées erronées
    %p Toute offre d’emploi publiée doit correspondre à un poste IT actuellement à pourvoir. Swiss IT Job se réserve le droit de supprimer toute annonce ne répondant pas pleinement à ces exigences, sans avertissement ni indication de motifs.

    %br
    %h6 2.3 Bonne conduite
    %p Les utilisateurs s’engagent à n’utiliser la plateforme Swiss IT Job que dans le strict respect de toutes les exigences légales applicables. Les agences de recrutement et recruteurs garantissent qu’ils disposent d’une autorisation valable de pratiquer.

    %br
    %h5 3 Durée du contrat
    %br
    %p Toute résiliation anticipée d’un contrat conclu pour une durée fixe ou minimale est exclue. La totalité du prix convenu est dûe en cas de suppression anticipée d’offres d’emploi, et l’utilisateur n’a aucun droit au remboursement de prestations déjà payées. Il en va de même en cas de suppressions ou blocages effectués par Swiss IT Job en application des présentes conditions générales.
    
    / %p
    /   %b 4 Paiement
    / %p L’obligation de paiement de l’utilisateur naît à la publication d'une annonce sur le site Swiss IT Job.
    / %p Afin de sécuriser vos paiements, nous utilisons Stripe. Stripe est certifié comme prestataire de Service PCI de niveau 1 selon la classification Visa. Il s'agit du niveau de certification le plus élevé dans l'industrie de paiements. Les numéros de cartes bancaires sont sécurisés par Stripe et les clés permettant de les décrypter sont conservées sur des machines séparées. Les serveurs internes de Stripe ne peuvent pas obtenir ces numéros en entier, ils ne peuvent que demander que ces cartes soient envoyées à des prestataires autorisés.

    %br
    %h5 4 Offres de tiers sur Swiss IT Job
    %br
    %p Swiss IT Job publie aussi sur sa plateforme des offres de tiers et/ou des liens vers des offres ou sites web de tiers. Swiss IT Job ne répond ni de ces offres de tiers, ni des contenus des sites web de tiers et décline toute responsabilité en lien avec ces offres ou sites web de tiers.

    %br
    %h5 5 Responsabilité
    %br
    %h6 5.1 Responsabilité de Swiss IT Job
    %p Swiss IT Job ne peut garantir une disponibilité ininterrompue ni l’absence de défaut de ses prestations. Swiss IT Job ne répond notamment pas des éventuelles interruptions de service, ni des éventuelles défaillances techniques et de leurs conséquences. Les offres d’emploi accessibles sur la plateforme Swiss IT Job ont été créés par les utilisateurs correspondants et Swiss IT Job ne garantit aucunement l’exactitude, ni l’intégralité de ces données. Swiss IT Job s’efforce d’empêcher une exploitation non autorisée par des tiers des données publiées sur sa plateforme. Toute responsabilité de Swiss IT Job en cas d’exploitation non autorisée par des tiers est néanmoins expressément exclue. Swiss IT Job ne donne également aucune garantie quant au succès d’un avis de vacance de poste. Toute responsabilité pour des dommages indirects ou consécutifs est exclue.

    %br
    %h6 5.2 Responsabilité de l'utilisateur
    %p L'utilisateur répond de l’exactitude et du caractère complet des contenus mis à disposition ou transmis en vue de leur publication sur le site Swiss IT Job. L’utilisateur répond envers Swiss IT Job de tous les dommages et frais générés par la violation des présentes conditions générales. Il s’engage à libérer entièrement Swiss IT Job de toutes les prétentions soulevées par des tiers contre Swiss IT Job suite à l’utilisation par l’utilisateur de la plateforme Swiss IT Job. Le dommage à réparer inclut aussi le coût raisonnable des poursuites judiciaires.

    %br
    %h5 6 Divers
    %br
    %h6 6.1 Modification des conditions générales
    %p Swiss IT Job se réserve le droit de modifier les présentes conditions générales à tout moment et sans préavis. La version actuelle des présentes conditions générales, publiée sur le site Swiss IT Job, s’applique entre l’utilisateur et Swiss IT Job.

    %h6 6.2 Modification des services
    %p Swiss IT Job se réserve le droit de modifier ses services à tout moment, sans avertissement ni indication de motifs, ou de cesser partiellement ou complètement ses services. Une telle modification ou cessation des services n’habilite pas l’utilisateur à faire valoir des prétentions quelconques vis-à-vis de Swiss IT Job.

    %br
    %h6 6.3 Droit applicable
    %p Les présentes conditions générales ainsi que les éventuels différends issus de la relation contractuelle entre Swiss IT Job et l’utilisateur sont exclusivement soumis au droit suisse.