!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
  %body
    %p Hello,
    %b You will find the last jobs corresponding to your search criteria below:
    - @jobs.each do |job|
      %p{ style: 'margin-top: 30px !important;' }
        %div{ style: 'color:rgb(53,110,193); font-size: 125%;' }= job.title
        %div{ style: 'margin-top: 6px; margin-bottom: 6px;' }
          %span{ style: 'font-weight: bold; font-size: 105%;' }= job.company_name
          \-
          %span{ style: 'color: rgb(120,120,120); font-size: 105%;' }= job.city
        %div= "#{strip_tags(job.description[0..200])}..."
        %br
        %div{ style: 'margin-top:6px' }
          = link_to t('job_subscription.job_details_link'), job_url(job, locale: @job_subscription.locale), style: 'text-decoration: none; padding: 15px 60px 15px 60px; background-color: rgb(99,174,223); color: white; font-weight: bold; font-size: 115%; border-radius: 3px;'
        %br
    %br
    %hr
    %p
      If you want to change your subscription or unsubscribe,
      = link_to 'click here', edit_job_subscription_url(@job_subscription, locale: @job_subscription.locale)
      \.
    %p
      This email was sent automatically. Please don't answer it.
