/* GENERAL */
#back_button {
  float: right;
}

.tokenize-sample {
  width: 100%;
}

.button {
  font-weight: bold;
}
/* END GENERAL */

/* CONTACT FORM */
#contact_form_desc {
  margin-bottom: 40px;
}

#contact_submit {
  margin-top: 20px;
}
/* END CONTACT FORM */

/* TOP BAR */
#site_title {
  font-family: 'Covered By Your Grace' !important;
  font-size: 150%;
  font-weight: bold;
}

.top-bar {
  margin-bottom: 15px;
}

.top-bar a{
  color: rgb(230,230,230) !important;
}

.top-bar .menu-icon {
  color: rgb(230,230,230) !important;
  margin-right: 15px;
}

#lang-menu a {
  padding-right: 0px !important;
  padding-left: 10px !important;
  font-size: 95%;
  font-weight: bold;
}

/* Search */
.search_label {
  font-weight: bold !important;
}

/* END TOP BAR */


/* FOOTER */
#footer {
  background-color: rgb(33,49,74);
  min-height: 50px;
  color: rgb(230,230,230) !important;
}

#footer .menu {
  float: left;
  padding-top: 11px;
}

#footer a {
  color: rgb(230,230,230) !important;
  font-size: 90%;
}

.social {
  float: right;
  font-size: 160%;
  padding-top: 4px;
}

.social span {
  margin-left: 15px;
}

#feedback {
  margin-top: 20px;
  background-color: white;
  min-height: 50px;
  text-align: center;
  font-size: 90%;
  padding-top: 13px;
}
/* END FOOTER */


/* JOB DETAILS */
#job_header {
  margin-top: 20px;
}

#job_header, #job_details, #job_postulation {
  background-color: white;
  border-radius: 5px;
  padding: 18px 20px 18px 20px;
  border: 1px solid rgb(238,238,238);
  margin-bottom: 20px;
}

#social {
  margin-top: 10px;
  font-size: 90%;
}

/* Design badges around categories names */
.job_category {
  background-color: white;
  border: 1px solid rgb(255,100,0);
  padding: 1px 6px 1px 6px;
  font-size: 80%;
  font-weight: bold;
  color: rgb(255,100,0);
  border-radius: 3px;
  margin-right: 3px;
}

.job_categories {
  margin-top: 6px;
}

h3.title {
  display: inline-block;
  color: rgb(53,110,193);
  font-weight: bold;
}

.job_title {
  font-size: 115%;
  color: rgb(53,110,193);
  font-weight: bold;
}

.job_subheader {
  margin-top: 3px;
}

.job_salary {
  margin-right: 5px;
  color: rgb(120,120,120);
  font-size: 85%;
}

.job_subheader .company_name {
  font-weight: bold;
  margin-right: 5px;
  font-size: 95%;
}

.job_location {
  color: rgb(120,120,120);
  margin-right: 5px;
  font-size: 95%;
}

.job_date {
  font-size: 80%;
  color: rgb(120,120,120);
}

.job_remote {
  color: rgb(120,120,120);
  font-size: 85%;
}

.description_title, .section_title {
  color: rgb(53,110,193);
  margin-bottom: 30px;
  border-bottom: 3px solid rgb(234,241,249);
  font-weight: bold;
}

.section_title {
  margin-top: 40px;
}

#company_website {
  margin-top: 20px;
  font-size: 90%;
}

.social-share-button{
  float: right;
}

.social-share-button .ssb-icon {
  background-size: 25px 25px !important;
  height: 25px !important;
  width: 25px !important;
  margin-right: 5px !important;
  margin-top: 15px !important;
}
/* END JOB DETAILS */


/* JOB CREATION FORM */
.job_form_section {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(238,238,238);
  padding: 18px 30px 18px 30px;
  margin-bottom: 20px;
}

.form_title {
  color: rgb(53,110,193);
  font-weight: bold;
  border-bottom: 3px solid rgb(234,241,249);
  margin-bottom: 40px;
}

label {
  font-size: 100% !important;
}

#description_label {
  margin-top: 12px !important;
}

/* Disable some buttons from trix toolbar */
trix-toolbar .button_group button.strike {
  display: none;
}

trix-toolbar .button_group button.heading-1 {
  display: none;
}

trix-toolbar .button_group button.link {
  display: none;
}

trix-toolbar .button_group button.quote {
  display: none;
}

trix-toolbar .button_group button.code {
  display: none;
}

trix-toolbar .button_group button.nesting-level {
  display: none;
}

/* Set editor height */
trix-editor {
  min-height: 120px !important;
}

/* Inline help */
#help_section {
  font-size: 90%;
}
/* END JOB CREATION FORM */


/* JOB SUBSCRIPTION */
.subscription_frequency {
  margin-top: 12px;
}

#job_subscription_link {
  background-color: rgb(0,168,97);
  margin-top: 20px;
}

#job_subscription_link, #job_subscription_link i {
  font-weight: bold;
}

#alert_button {
  height: 39px !important;
}

#job_alert h6 {
  font-weight: bold;
  border-bottom: 1px solid rgb(0,168,97);
  color: rgb(50,50,50);
  margin-bottom: 35px;
  margin-top: 25px;
}

#job_alert_edit {
  background-color: white;
  border-radius: 5px;
  padding: 0;
  border: 1px solid rgb(238,238,238);
}

#job_sub_edit_title {
  margin-top: 60px;
  font-weight: bold;
  border-bottom: 1px solid rgb(1,195,167);
  color: rgb(50,50,50);
  margin-bottom: 40px;
}

#job_alert_edit .tokenize-sample {
  margin-bottom: 16px;
}

#job_sub_edit_links {
  margin-top: 20px;
  margin-bottom: 60px;
}
/* END JOB SUBSCRIPTION */

/* PAGES */
#privacy, #terms {
  font-size: 90%;
  background-color: white;
  border-radius: 5px;
  padding: 50px 0 50px 0;
}

#contact {
  background-color: white;
  border-radius: 5px;
  padding: 20px 30px 20px 30px;
}

.joblist li {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(238,238,238);
  padding: 18px 30px 18px 30px;
  margin-bottom: 15px;
}

.joblist li:hover {
  border: 1px solid rgb(53,110,193);
  cursor: pointer;
}

#no_search_results {
  background-color: white;
  border-radius: 5px;
  padding: 50px 0 50px 0;
  margin: 0 1px 0 1px;
}

#no_search_results h4 {
  margin: 30px 0 30px 0;
  color: rgb(115,115,115);
  font-weight: bold;
}

#no_search_results i {
  color: rgb(190,190,190);
}

#no_search_results p {
  color: rgb(140,140,140);
}
/* END PAGES */