!!! 5
%html{ lang: params[:locale] }
  %head
    %meta{ charset: 'utf-8' }

    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ content: content_for?(:meta_description) ? yield(:meta_description) : 'Trouvez votre prochain emploi IT en Suisse simplement et rapidement.', name: 'description' }

    %title= content_for?(:title) ? yield(:title) : 'Swiss IT Job'

    %link{ href: 'https://fonts.googleapis.com/css?family=Open+Sans', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://fonts.googleapis.com/css?family=Raleway', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://fonts.googleapis.com/css?family=Covered+By+Your+Grace', rel: 'stylesheet', type: 'text/css' }

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tag

  %body
    = render partial: 'shared/top_bar'
    = yield
    = render partial: 'shared/footer'
    = render partial: 'shared/analytics'
